<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop products</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/api/store/add-products">Add product</a>
                </li>
                <li>
                    <a href="/api/store/get-products">Shop product</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Product List</h1>
        <p>Here's your products list</p>
    </main>
</body>

</html>