<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View all books</title>
    <link rel="stylesheet" href="/css/commonStyles.css">
</head>

<body>
    <header id="bg">
        <nav>
            <ul>
                <li>
                    <a href="/api/books/">
                        Home (add-books)
                    </a>
                </li>
                <li>
                    <a href="/api/books/view">
                        View books
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Here are all the books we have right now!</h1>
    <ul>
        <li>Book 1</li>
        <li>Book 2</li>
        <li>Book 3</li>
        <li>Book 4</li>
    </ul>

    <main>
        <button id="changeColor">
            changeColor
        </button>
    </main>

    <script src="/Js/utils.js">
    </script>
</body>

</html>